[Desktop Entry]
Name=Delauncher
GenericName=Delauncher
Comment=Send magnet links or torrent files from your browser to a deluge server with a single click
Exec=delauncher %U
Icon=delauncher
Terminal=false
TryExec=delauncher
Type=Application
StartupNotify=true
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
Categories=Network;FileTransfer;P2P;GTK;
