Package: delauncher
Version: {{version}}
Architecture: {{architecture}}
Maintainer: Andoni del Olmo <andoni.delolmo@gmail.com>
Installed-Size: {{size}}
Section: extras
Priority: standard
Depends: libnotify-bin
Homepage: https://github.com/adelolmo/delauncher
Description: Send magnet and torrent links to a remote deluge server
