Package: delauncher
Version: {{version}}
Section: extras
Priority: standard
Architecture: {{architecture}}
Depends: libnotify-bin
Maintainer: Andoni del Olmo <andoni.delolmo@gmail.com>
Installed-Size: {{size}}
Description: Send magnet and torrent links to a remote deluge server
